body {
  background-color: #ffffff;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: aquamarine;
  padding-top: 3px;
  padding-bottom: 3px;
}

h1 {

  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1.75em;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  padding: 15px;
  font-size: 1.7rem;
  margin: 0px;
  margin-bottom: 10px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  color: aquamarine;
}

h4 {
  font-size: 1.7em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 18px;
}

footer {
  background-color: aquamarine;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  background-color: aquamarine;
  border: #000000cf 3px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-left: 10px;
  margin-right: 0;
  width: 95%;
}

section a {
  margin-left: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7em;
}

section img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #000000cf 3px solid;
}

#card01 {
  margin-top: 20px;
}