@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Young+Serif&display=swap');
:root {
    --color1: #008000;
    --color2: #FFFF00;
    --color3: #FFFFFF;
    --color4: #808080;
    --color5: #0000FF;
    --color6: #000080;
    --font1: 'Young Serif', sans-serif;
    --font2: 'Poppins Light', sans-serif;
    --font3: 'Inconsolata', sans-serif;
}
#mode {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font2);
    background-color: var(--color3);
    color: var(--color4);
    line-height: 1.6;
    max-width: 1485px;
    margin: 0 auto;
    background-color: aquamarine;
}
header {
    background-color: var(--color1);
    color: var(--color3);
    text-align: center;
    padding: 1rem 0;
}
header h1 {
    font-family: 'Young Serif';
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}
nav a {
    color: var(--color3);
    text-decoration: none;
    margin: 0 1rem;
}
ul.nav {
    list-style: none;
    display: flex;
    align-items: center;
}
ul.nav li {
    margin: 0 0.5rem;

}
main {
    max-width: 1485px;
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: var(--color3);

}
h1,
h2 {
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-family: var(--font2);
}
section {
    margin-bottom: 2rem;
}
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.image {
    display: flex;
    width: 200px;
    border-radius: 50px;
}
footer {
    font-weight: bold;
    font-family: var(--font3);
    background-color: var(--color1);
    color: var(--color3);
    text-align: center;
    padding: 1rem 0;
}
#join {
    display: flex;
    justify-content: center;
}
#join a {
    margin-top: 5px;
    background-color: black;
    color: white;
}

#join a:hover {
    background-color: red;
}
#menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: var(--color2);
    /* Cor das barras */
    margin: 6px 0;
    transition: 0.4s;
}
#menu {
    font-size: 1.5rem;
    padding: 3px 7px 6px;
    background-color: var(--color2);
    color: #dbdce0;
    position: relative;
}
#section-news p {
    display: flex;
    justify-content: center;
    color: black;
}
.section-box p {
    display: flex;
    text-align: center;
}
.section-box .work-day {
    display: flex;
    justify-content: center;
}
#explore {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.exploration,
.university,
.work,
.things {
    text-align: center;
}
.exploration img,
.university img,
.work img,
.things img {
    max-width: 100%;
    height: auto;
}
.location a {
    font-weight: bold;
    color: black;
}
figcaption {
    color: black;
}
table td img {
    transition: transform 0.2s; /* Adiciona uma transição suave para o efeito */
}
/* Aplica o efeito de zoom quando o mouse passa por cima da imagem */
table td img:hover {
    transform: scale(1.1); /* Aumenta a escala para 1.25x o tamanho original */
}
.visit-message {
    text-align: center; /* Centraliza horizontalmente */
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            max-width: 500px; /* Largura máxima de 500px */
        }

/* Estilos adicionais para o botão (opcional) */
button {
    margin-top: 10px; /* Espaçamento entre o último campo de entrada e o botão */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thankyou {
    display: flex;
    flex-direction: column; /* Isso garante a centralização vertical */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    height: 100vh; /* Define a altura para ocupar a tela inteira verticalmente */
}

.thankyou h3, p {
    color: black;
    font-size: 20px;
}
  