footer {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.map {
    padding-bottom: 50%;
    position: relative;
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    width: 100%;
    min-width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 10%;
    margin: 25px;
    border-radius: 12px;
    justify-self: end;
}

header {
    background-color: rgb(29, 77, 114);
}

header h1 {
    color: white;
    
}

nav {
    background-color: black;
    display: flex;
    flex-direction: column;
}

#menu {
    font-size: 1.5rem;

    padding: 3px 7px 6px;
    background-color: #263f3c;
    color:#dbdce0;
    position: relative;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
}

.open li {
    display: block;
}

.active::before {
    content: "^.^";
}

nav li a:hover {
    background-color:yellowgreen;
    color: #000000;
}

nav ul li a{
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    align-items: center;
}

h2 {
    text-align: center;
}

h2:after {
    content: " ";
    display: block;
    border: 1px solid #868883;
}

.card-info {
    border: 1px solid rgb(207, 207, 207);

}

.card-info h3 {
    background-color: rgb(29, 77, 114);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

.card-info ul {
    list-style-type: none;
    padding: 10px;
}

.card-info li {
    padding: 1px;
}

.card-info p {
    padding-left: 1rem;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#temperature {
    font-size: 24px; 
}

#weather-icon {
    max-width: 50px; 
    margin-top: 10px; 
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.temple-image img {
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
