body {
    font-family:'Courier New', Courier, monospace;
}

header {
    background-color: blueviolet;
    display: flex;
    align-items: center; 
}

header img {
    margin-left: 200px;
    max-width: 200px;
    max-height: 125px;
}

header h1 {
    color: white;
    margin-left: 220px; 
}

nav ul {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.card ul li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}


.card ul {
    display: inline;
    justify-content: center;
    list-style-type: none;
}


h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

.weather {
    display: flex;
    justify-content: center;
}

.number {
    display: flex;
    justify-content: center;
}

footer {
    display: inline-block;
    margin-left: 620px;
}

.modify {
    margin-left: -50px;
}

.name {
    margin-left: -2px;
}

.contentyear {
    margin-left: 80px;
}

.country {
    margin-left: 90px;
}

nav a:hover {
    border: 3px solid #fff;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se ajustem à largura da tela */
    justify-content: space-between; /* Distribui espaço igualmente entre os elementos */
    align-items: flex-start; /* Alinha os elementos no topo */
}

.card {
    flex-basis: calc(50% - 10px); /* Define a largura do card (50% com um espaço de 10px entre eles) */
    margin-right: 10px; /* Espaço entre os elementos */
}

.card-info {
    flex-basis: calc(50% - 10px); /* Define a largura do card-info */
}
