/* Resetting default margin and padding */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.navigation {
    margin-left: 20px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}



/* Main content styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.cozumel-label {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1E3A5F;
}

.card-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.card-info ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.card-info ul li {
    margin-bottom: 10px;
}

.map {
    text-align: center;
    margin-top: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    clear: both;
}


.weather {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    clear: both; /* Para garantir que fique abaixo dos elementos anteriores */
}

