

body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f4; /* Adjusted background color */
    color: #333;
}

.header {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background-color: #333;
    margin-bottom: 20px; /* Add margin at the bottom */
}

/* Tables Container Styling */
.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-top: 20px; /* Reduce top padding */
    padding-bottom: 20px; /* Add bottom padding */
}

/* Table Wrapper Styling */
.table-wrapper {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border: 2px solid #333;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.payment-methods,
.accepted-cards,
.vehicle-info {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.card-images img {
    width: 175px;
    margin: 0 5px;
}

.vehicle-details {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.vehicle-details li {
    margin-bottom: 10px;
}

/* Último item da lista não justificado para evitar espaçamento estranho */
.vehicle-details li:last-child {
    text-align: left;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 100px; /* Largura desejada */
    height: 80px; /* Altura desejada */
    /* Se desejar centralizar a imagem verticalmente */
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100%; /* A imagem ocupará todo o espaço da div */
    max-height: 100%; /* A imagem ocupará todo o espaço da div */
    /* Se desejar centralizar a imagem horizontalmente */
    margin: auto;
}

.navigation {
    margin-left: 20px; /* Espaçamento entre a imagem e a navegação */
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: white; /* Altere a cor conforme desejado */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Form Container Styling */
.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}